
.jumbotron {
    background-color: black; 
    color: white;
    height: 100px;
    
}

.chat-card {
    display: none;
}


#chat-text {
    width: 84%;
    
    max-height: 450px;
    overflow-y: scroll;
    float: left;

}

#users-list {
    width: 15%;
    overflow-y: scroll;

}

#message-text {
    margin-top: 15px;
    width: 75%;
    display: inline;
}

#send-button {
    position: relative;
    top: -2px;
}

#nickname-text {
width: 400px;
display: inline;

}